{% extends "layouts/page.html" %}

{% block content %}
    <section class="container-fluid">
        <div class="card-content">
            <div class="card-header">
                <h2>How to Contact Us</h2>
            </div>
            <div class="card-body">

                <p>If you have any questions, concerns, or feedback, please don't hesitate to reach out to us. We're here to assist you!</p>
                <ul>
                    <li><strong>Email:</strong> For general inquiries and information, you can contact our administration team at <a href="mailto:admin@jobfinders.site" class="font-weight-bold text-info">admin@jobfinders.site</a>.</li>
                    <li><strong>Support:</strong> If you need technical assistance or encounter any issues, our support team is ready to help. Reach us at <a href="mailto:support@jobfinders.site" class="font-weight-bold text-info">support@jobfinders.site</a>.</li>
                </ul>
                <p>Your opinions matter to us, and we value the opportunity to improve our platform based on your input. Whether you have suggestions, questions, or need help, please don't hesitate to get in touch.</p>
                <p>We aim to provide prompt responses and ensure your experience with JOBFinders.site is seamless and productive.</p>

                <h4>Thank you for choosing <strong>JobFinders.site</strong> as your career resource.</h4>
            </div>
        </div>
    </section>
{% endblock %}
