{% extends "layouts/page.html" %}
{% block content %}
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                            <div class="card-header  d-flex justify-content-between align-items-center">
                                <h2 class="card-title font-weight-bold">{{ term|title }}</h2>
                                <div class="desktop-buttons">
                                    <button class="btn btn-sm btn-dark btn-outline-success" onclick="window.history.back()">
                                        <i class="ti-back-left"></i>
                                        Back
                                    </button>
                                </div>
                            </div>
                    </div>
                    {% include "job/cards/job_detail.html" %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sponsored</h3>
                    </div>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7134185943809269"
                         crossorigin="anonymous"></script>
                    <!-- job_detail_advert -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7134185943809269"
                         data-ad-slot="9404217969"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                    {% include "job/cards/similar_jobs.html" %}

                </div>
        </div>

{% endblock %}