{% extends "layouts/page.html" %}
{% block head_scripts %}

<script>
    var s = document.createElement('script');
    s.src='//deefauph.com/pfe/current/micro.tag.min.js?z=6244766'+'&sw=/sw-check-permissions-a0d20.js';
    s.onload = function(result) {
        switch (result) {
            case 'onPermissionDefault':break;
            case 'onPermissionAllowed':
            window.open("//ungroudonchan.com/4/6244624", '_blank');break;
            case 'onPermissionDenied':
            window.open("//ungroudonchan.com/4/6244624", '_blank');break;
            case 'onAlreadySubscribed':
            window.open("//ungroudonchan.com/4/6244624", '_blank');break;
            case 'onNotificationUnsupported':break;
        }
    }
    document.head.appendChild(s);
</script>

<script>
      var Back_Button_Zone = 6244624;
      var Domain_TB = "peelaipu.xyz";
</script>
<script async src="https://choogeet.net/tb1/reverse.min.js"></script>


{% endblock %}
{% block content %}
        <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                            <div class="card-header">
                                <h1 class="card-title font-weight-bold">Job Finder</h1>
                            </div>
                        <div class="card-footer">
                            {% include 'job/cards/search_terms.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                            <div class="card-header  d-flex justify-content-between align-items-center">
                                <h2 class="card-title font-weight-bold">Latest {{ term|title }}</h2>
                                <div>
{#                                    <button class="btn btn-success">Search</button>#}
                                </div>
                            </div>
                    </div>
                    {% include "job/cards/job_detail.html" %}
                </div>
                <div class="col-lg-3">
{#                    <div class="card">#}
{#                            <div class="card-header">#}
{#                                <h1 class="card-title font-weight-bold">Job Finder</h1>#}
{#                            </div>#}
{#                    </div>#}
                </div>
        </div>

{% endblock %}