{% extends "layouts/page.html" %}
{% block content %}
    <section class="container-fluid">
        <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        <i class="ti-linkedin"> </i>
                        LinkedIn Learning
                    </h2>
                </div>
        <div class="card-body">
            <span class="card-content"> If you want to improve your prospects in your job hunting
            consider LinkedIN Learning Courses</span>
        </div>
        </div>
    </section>

{% endblock %}