{% extends "layouts/auth.html" %}

{% block content %}
<div class="login-content">

    <div class="login-logo">
        <a href="{{ url_for('home.get_home') }}">
            <span class="font-weight-bold">Job</span><span class="text-primary font-weight-bold">Finders</span>
        </a>
    </div>

    {% include "layouts/flash.html" %}

    <div class="login-form">
        <h4 class="font-weight-bold text-primary">Create Your Account</h4>
        <p class="font-weight-bold text-muted">Register to find and apply for the latest job listings</p>

        <form action="{{ url_for('auth.do_register') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
            </div>

            <div class="form-group">
                <label for="password" class="font-weight-bold">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create a strong password" required>
            </div>

            <div class="checkbox my-3">
                <label class="font-weight-bold">
                    <input type="checkbox" name="terms" required> I agree to the <a href="{{ url_for('home.get_privacy_policy') }}">terms & privacy policy</a>
                </label>
            </div>

            <button type="submit" class="btn btn-primary btn-flat w-100">Register</button>

            <div class="register-link mt-4 text-center font-weight-bold">
                <p>Already have an account? <a href="{{ url_for('auth.get_auth') }}">Sign in</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
