


<div class="card">

    <div class="card-header">
        <h3 class="card-title">Welcome to jobfinders.site</h3>
    </div>

    <div class="card-body">
        <p class="card-content"> Hello</p>
        <p class="card-content"> Thank you for showing interest in our job alerts services.</p>
        <p class="card-content"> but before we can do anything please take the time to verify your email address.</p>
    </div>

    <div class="card-footer">
        <a href="{{ verification_link }}" class="btn btn-lg btn-primary">Verify Your Email Address</a>
    </div>
</div>