



<div class="card  bg-dark">
    <div class="card-header">
        <h3 class="card-title text-white">Create Portfolio</h3>
    </div>
    <div class="card-body">
        <span class="card-content">A Portfolio Website Can drastically improve your employability potential so
            do not waste time - Buy your Domain and start a <strong>Portfolio Website today</strong></span>
    </div>
    <div class="card-footer">
        <span class="card-content">
            <a href="https://namecheap.pxf.io/R5Zgv9">
                <img class="card-image img-fluid" src="{{ url_for('static', filename='images/impact/namecheap.svg') }}">
            </a>
        </span>

    </div>
</div>