<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobFindl>/htmdy>
        <t>
        </bo </scrip});
        00);
        }, 10 Tests();
        bilityccessiAllA run {
        ) =>tTimeout(( se
        ort delay after a sho-run testsAut // {
        ()', functiontentLoadedConer('DOMventListenent.addE documialize
        // Init

        }url);
        keObjectURL(RL.revo U a.click();
        on`;
        ()}.jsate.now{Dt-$orrepsibility--acces `jobfindersnload = a.dow
        url; = ef a.hr'a');
        ement(ateElocument.crenst a = d co);
        (blobteObjectURLeal = URL.cr ur const;
        })n/json'applicatiope: ' ty], {ull, 2)eport, ningify(r[JSON.strw Blob( nelob =const b ON
        eport as JSDownload r //
        };
        }
        t
        textConten').wcagLevel('tElementById document.ge wcagLevel: d).length,
        ssepar => !r.ter(sults.fililed: re fa ,
        ed).length => r.passts.filter(rd: resulse pas gth,
        results.len total: {
        summary: : results,
        ults res ent,
        ator.userAgnt: naviguserAge
        on.href,catiow.lo url: wind (),
        StringISO).toe(mp: new Datmesta ti ort = {
        const rep

        s();stbilityTelAccessirunAlesults = t r cons {
        rt() epoteA11yRction genera
        fun
        };
        n allResults retur
        lock';
        isplay = 'be.dylSummary').styResultsyId('a11ntB.getElemecument doevel;
        cagLContent = w').textgLevelyId('wcantB.getElemeocument d gs;
        t = warninextContenngTests').tyWarni11mentById('aEle.getumentdoc iled;
        ontent = faxtC).tedTests''a11yFaileId(tElementBydocument.ge
        passed;t =.textContents')PassedTesntById('a11yElemecument.get do
        }
        }
        'AAA';
        cagLevel = w
        otal) {d === aaaTaaPasse && al > 0otaaT if (aa
        ;= 'AA'gLevel wca )) {
        => r.passedevery(r sts.(aaTe if 'A';
        gLevel = wca let
        h;
        .lengtl === 'AAA')agLevewc> r.er(r =s.filtesultTotal = allRaast a con ngth;
        assed).le r.p= 'AAA' &&==agLevel r(r => r.wcts.filte = allResulPassedaaa const A');
        l === 'AcagLever(r => r.wults.filteResaTests = all const a vel
        ance leliWCAG compDetermine //
        ength;
        g').lnin== 'wartus =ta=> r.ster(r s.fillResultalnings = t war cons
        th;'fail').leng=== tus sed && r.sta(r => !r.pass.filterultlRes = alt failedons cngth;
        sed).ler.pasilter(r => ults.f allResst passed = con
        sults];
        Re..ariacResults, .semantis, ...ReaderResult ...screenrdResults,yboats, ...kerastResul [...contllResults = a
        const
        ;
        testAria()aResults = const ari ;
        tSemantic()ts = tesulicResonst semant c ader();
        RetestScreenrResults = eadescreenRconst Nav();
        testKeyboardults = oardResybnst ke co;
        rContrast() testColotResults =t contras cons () {
        tyTestsiliAccessibtion runAll func
        }
        ts;
        resul return s');
        ariaTestts, 'lts(resulesuderTestR ren
        unTest);.map(rsts= ariaTenst results co{
        ria() tAesfunction t
        }
        ;
        urn results ret sts');
        'semanticTes, sults(resultTestRe render
        Test);ts.map(runanticTesesults = sem const r {
        mantic() testSe function

        }lts;
        resureturn ');
        nReaderTestss, 'screeultressults(RederTest ren
        runTest);ts.map(eaderTes = screenRresults const eader() {
        reenRtestScn functio


        } results;urn ret Tests');
        eyboards, 'k(resultrTestResults rende Test);
        (runrdTests.mapoaults = keyb resonst c {
        av()KeyboardNn test functio


        }n results; retur
        astTests');, 'contrresultstResults(enderTes r t);
        p(runTess.maastTesttrs = colorConnst result coast() {
        trtColorConesion t funct

        } });
        );
        temd(testIppendChiltainer.acon
        `;
        : ''}v>`di}</lt.error{testResu">Error: $t-errortesiv class="or ? `<derrResult. ${test /div>
        }<cagLevelesult.wtRvel: ${tes LeWCAGdetails">"test-lass=iv c <d iv>
        ption}</dt.descri{testResulsult">$st-re"teiv class= <d
        }</div>ameestResult.name">${tss="test-n <div cla
        TML = `nerH.in testItem }`;
        lt.statusstResum ${tete = `test-issNamestItem.clate v');
        lement('dint.createEme= docuItem test const esult => {
        tRach(testests.forE
        '';
        =er.innerHTML contain nerId);
        yId(contaiElementBment.getcuiner = donta const co {
        ntainerId)(tests, coTestResultson render functi
        }
        }

        };
        ageror.mess error: er l',
        atus: 'fai st
        d: false,passe
        t.wcagLevel,vel: tes wcagLe
        cription,des test.ion: descript name,
        name: test. rn {
        retu r) {
        catch (erro}
        };
        ail' : 'f ? 'pass'tus: result sta
        sult,d: re passe el,
        st.wcagLevLevel: te wcag
        tion,st.descripion: te descript ,
        t.namee: tesnam rn {
        retu
        );t(st.tes tenst result = co try {
        ) {
        testnTest(on ru functi

        }demo
        liance for e AA comp.5; // Assumurn 4 ret
        mithlgor ratio a contrast a properd use, you'ementation real impln a// I on
        calculatiied contrasts a simplif i // This {
        or1, color2)ontrast(colckCon che functified)
        li(simpcalculation r contrast // Colo
        ];
        }

        evel: 'A'agL wc alues',
        have valid vARIA states n: 'descriptio
        }, });
        ));
        eds(selectdealse'].inclue', 'f ['trulected ||!se ( &&
        des(hidden))'].inclu 'false'true', || [hidden (!
        &&panded))ludes(exalse'].inctrue', 'f ['expanded ||urn (! ret ');
        ia-selectedute('artribgetAtected = el.st sel con den');
        a-hidibute('arittrgetAidden = el. const h
        panded');e('aria-exuttAttrib el.gepanded =st ex con > {
        ry(el =ents).evelem(stateErray.fromn Aturre ed]');
        [aria-selectidden], aria-hed], [-expandl('[ariatorAl.querySelecentts = documen stateElemconst => {
        : () test ,
        tates'ame: 'ARIA S n {

        },
        'A'evel: gL wca ,
        d'valiare es rolion: 'ARIA descript
        }, });
        (role);
        ].includesntentinfo' 'co'banner',in', ation', 'ma 'navign', 'link',rn ['butto retu ');
        bute('roletAttrirole = el.get ns co > {
        .every(el =ements).from(roleElrn Array retu ]');
        rAll('[roletoquerySelecent. documnts =roleElemenst co ) => {
        (t:es t les',
        RoA e: 'ARI nam
        { },

        evel: 'AA'cagL w ',
        operly usedpr labels are ion: 'ARIAescript d },
        s
        lemento ARIA e if ns pass/ Alway0; /s.length >= ntariaEleme return by]');
        -labelled, [ariaria-label]'[actorAll(t.querySelecumenements = dot ariaEl cons
        => {est: () t bels',
        IA LaAR name: ' {
        ests = [
        const ariaT
        ];
        }
        '
        el: 'AgLev wca tle',
        ptive ti descri 'Page has ascription: de },
        == '';
        im() !.trent.titleocum& d.title &mentturn docu re {
        () => test:
        ', 'Page Titleme: na
        { },
        '
        'AgLevel: wca
        fied',age is specige languon: 'Pacripti des
        }, '';
        == t.lang !entElemenocumment.ddocurn retu : () => {
        test
        Language', 'Page e: nam
        { },

        vel: 'AA'wcagLe ',
        nts eleme semanticML5Uses HTion: 'ript desc },

        gth > 0;s.lenentticElem semaneturn r de');
        , asileon, articter, sectiheader, foo, nav, All('mainorySelectt.querts = documenticElemen const seman > {
        () =test: ments',
        ic Ele5 SemantHTMLe: ' nam {
        Tests = [
        nst semantic co
        ];
        }

        vel: 'AA' wcagLe re',
        tructuer heading sage has propon: 'Pcripti des ,
        } ngth > 0;
        headings.le return
        5, h6'); h4,h2, h3, hrAll('h1, lectoquerySeument.ings = dochead const => {
        test: () e',
        uructg Stre: 'Headin nam
        { },
        Level: 'A'
        wcag s',
        s have labelform control: 'All on descripti },
        });
        ;
        elledby')ia-labarttribute(' input.getA) ||'aria-label'e(ributt.getAtt 0 || inpulength >.labels?.turn input re ut
        => {
        .every(inpinputs) Array.from(rnretu ;
        ct')tarea, sele'input, textorAll(t.querySelec documennputs = i const
        () => { test: Labels',
        'Form e: nam {

        }, vel: 'A'
        Le wcag
        ,ributes't atte alimages havon: 'All descripti },

        ;ed)undefin= > img.alt != =very(imgs).eimage.from(rn Arraytu re ;
        mg')All('iuerySelector document.qst images = con ) => {
        st: ( te ages',
        on Ime: 'Alt Textnam {

        = [s derTestreenRea const sc
        ];
        }

        AA'agLevel: ' wc le',
        e visibcators arocus indi: 'Fscription de },
        ne';
        !== 'noShadow .boxe' || styles= 'nons.outline !=stylern tu re utton'));
        'bement(eElent.creat|| docum') utton:focusctor('bySeleent.querStyle(documedetComputles = gt sty cons ined
        yles are defCSS focus stheck if C // {
        ) =>st: ( te
        tors', Indicaocus name: 'F {

        },'
        cagLevel: 'A w
        gical',order is lo 'Tab ion:pt descri },
        0);
        >= abIndex .tndex || elbIl => !el.tae).every(em(focusablArray.fron ur ret
        , select');extareanput, tton, iAll('a, butlectorent.querySe = documableconst focus > {
        = test: () ,
        der'Tab Ore: 'nam {

        },'A'
        wcagLevel: nts',
        e elemeusablcontains focage iption: 'Pcr des
        }, h > 0;
        ble.lengtcusaurn fo ret ex]');
        abindselect, [trea, input, textan, ll('a, buttotorAquerySelect.cumen doable =t focus cons > {
        : () = test Elements',
        'Focusable : me na
        {s = [
        dTestonst keyboar c
        ;
        ] }

        A'cagLevel: ' w rast',
        contets minimum me textary: 'Secondscription de
        0,f') >= 3.fffd', '#ffrast('#6c757checkCont () => test: t',
        ras Text Contcondary'Se name: {
        },
        'AA'
        vel: wcagLe
        ',ioatA contrast rlor meets Axt coin teMa 'cription:des
        f') >= 4.5,fffff', '#3e502c'#kContrast( checst: () => te ',
        or ContrastText Col name: ' {
        },
        : 'AA'
        wcagLevel
        ratio',t AA contrasetsy color memarion: 'Priptescri d
        4.5,fff') >=bff', '#fffst('#007raeckCont() => chest: t t',
        r Contrasy Colo: 'Primar name
        {
        stTests = [rarCont colonst
        cofinitionslity test debi// Accessi
        <script>
        >
        iv </d
        </div>div>
        </ </div>

        /span>CAG Level<-label">Wummarys="sas <span cl
        A</span>el">Aev"wcagL" id=berry-num="summa <span class ">
        -statmmary="suv class <di iv>
        </d gs</span>
        in>Warnlabel"s="summary-laspan c <s pan>
        >0</sTests"ing1yWarnd="a1number" i="summary-<span class ">
        mmary-statlass="su c <div </div>
        pan>
        iled</s">Fammary-label="suan class <sp
        ">0</span>ledTestsid="a11yFaier" mary-numbclass="sumn <spa t">
        ary-stas="summlas <div c v>
        </di pan>
        sed</sel">Paslab"summary- class=an <sp /span>
        ests">0<"a11yPassedTid=mber" nusummary-pan class=" <s -stat">
        ss="summary <div cla ts">
        mmary-staclass="su <div /h3>
        y<ummarts S Test Resulessibility3>Acc <h
        one;">"display: ntyle=mary" stsSumul11yResry" id="alts-summas="resu <div clas>
        y --ts Summaresul R!--
        < </div>
        div>
        </ ript -->
        JavaScated byulill be pop-- Tests w <! >
        aTests"="ari" idest-gridclass="tiv <d ts</h3>
        s) Tescationpplit A Interneich RleIA (AccessibAR <h3>
        ion">ct"test-seiv class=
        <d-->A Tests !-- ARI <
        >
        </div </div>
        -->
        aScript Javopulated byts will be pTes-- <! ">
        manticTestsd="set-grid" i"tes class= <div>
        h3HTML Tests</c ti <h3>Seman >
        ection"est-sv class="t <dits -->
        HTML Tes- Semantic <!-
        iv>
        /d
        < </div> >
        ript --vaSclated by Jall be popuests wi-- T <!
        aderTests">d="screenRerid" itest-gss="iv cla <d
        v>/di <s</p>
        dercreen rea sable tovails but avisual userfrom s hidden ext i <p>This t ">
        reader-demo"screen-div class= <
        s</h3>bility Testmpati Reader Co <h3>Screen >
        ion"st-sect="teass <div cl
        --> Tests ReaderScreen- <!-

        v> </div>
        </di -->
        avaScriptd by Jpulatepoill be !-- Tests w < sts">
        boardTed="key-grid" i"testlass=v c<di /div>
        <
        ">: 0.5rem;dding25rem; pa"margin: 0.ut" style=="Text Inplder" placeho="text <input type tton>
        utton 2</buem">B-it="navlass <button c /button>
        1<uttonitem">Bs="nav-on clasbutt < k 2</a>
        v-item">Linss="na"#" cla href= <a
        </a>em">Link 1"nav-its=#" clasf=" <a hre :</p>
        d Space, Enter, ant+Tabif Tab, Shs usingelementing these y navigat<p>Tr ">
        -demod-navoar"keybclass=div <
        s</h3>igation Testd Navh3>Keyboar <ion">
        test-sectss=" <div cla ->
        ts -on Tesigatird Nav- Keyboa <!-
        /div>
        <div>
        </ ript -->
        by JavaSculatedwill be popests <!-- T
        ts">trastTescon"" id=gridss="test-v cla <di
        div> </ </div>
        (AA)
        White on Danger ;">
        whiteolor: 545; cnd: #dc3"backgrou" style=leontrast-sampiv class="c <d
        </div> (AA)
        hiteon Wcess uc S e;">
        lor: whit #28a745; cound:ackgro" style="bple-sam"contrast <div class= </div>
        ite (AA)
        ry on Whda Secon white;">
        or: 757d; col#6cground: yle="backle" sttrast-samps="con clas <div div>
        </ (AA)
        hite n Wimary o Pr ">
        e;hitcolor: wd: #007bff; ackgroun style="ble"ampast-s="contriv class<d >
        o"contrast-demlor-="co<div class 3>
        ests</ht T Contras3>Color <h n">
        est-sectioclass="t <div s -->
        t Testntras-- Color Co <!

        </div>
        /button>ate Report<enereport()">G1yReA1ck="generatn" oncli"btton class= <but on>
        er</buttead>Screen R"eader()nR"testScree onclick=n"="btbutton class <on>
        on</buttavigatiKeyboard N">rdNav()"testKeyboa" onclick= class="btntton <bu button>
        st</ontra>Color Ctrast()"onlorCtConclick="tesn" on class="bt <butto n>
        ests</butto">Run All TlityTests()essibiAllAccrunlick="" oncss="btnlatton c <bu
        ntrols">t-coass="tesv cl <dis -->
        ntrol- Test Co
        <!-
        </div>
        div> </
        </div>
        /p>level<ced Enhan <p>
        AA</span>">Level Aaae level-alevel-badg="span class < ">
        ag-level="wcassiv cl <dv>
        </di </p>
        ended)(recomm level ndardp>Sta <
        span></Level AAvel-aa">el-badge lelevan class="sp < l">
        eve-l"wcagass=v cl <di
        </div> p>
        lity</ssibi acceum level ofinim<p>M
        el A</span>vel-a">Level-badge le="levn class <spa
        ag-level">ass="wc <div cl ">
        velsg-le"wcas=<div clas /h3>
        CAG) 2.1<elines (Wty Guidibilisscetent AcWeb Con">tlewcag-ti class=" <h3 ">
        ag-infoass="wc <div cl
        ->formation -AG In-- WC <!
        /div>

        <n</p>idationg and Val TestiiancemplCAG 2.1 Co>Wtitle""test-sublass= <p c /h1>
        te<ing Suistibility Teessrs Acce">JobFindeitl="test-tss <h1 cla ader">
        -heclass="test <div iner">
        "test-contav class=di <
        <body>
        head>
        </> </style
        } }
        portant;
        1ms !imion: 0.0duratransition- t ;
        ortant: 1 !impon-counttion-iteratianima t;
        rtanimpoon: 0.01ms !n-duratiio animat * {
        {
        : reduce) duced-motionrefers-re@media (p
        t */pporn suotioeduced m* R /
        }
        }
        x;
        h: 2p border-widt
        m {te .test-i ) {
        trast: highs-con(prefer @media
        upport */e sast modHigh contr/*
        }
        }

        (2, 1fr);ns: repeatplate-columem-t grid {
        ry-stats summa .

        };
        1frlumns: ate-cogrid-templ
        d {ri .test-g

        }
        rem;padding: 1 {
        er est-contain .t 768px) {
        -width: @media (max
        }
        ity: 0.9;
        opac ;
        e: 0.9rem-siz font{
        ry-label mma.su

        }
        k;ay: bloc displ
        700;ght: nt-wei fo
        em;2r-size: font
        number {ary- .summ
        }
        r;
        n: cente text-alig {
        summary-stat .
        }
        : 1rem;
        in-top marg 1rem;
        gap:
        fr);eat(4, 1mns: repe-colutemplat grid- : grid;
        isplay d y-stats {
        summar .
        }
        ;
        em 2r-top:argin m
        ;enterign: c text-al;
        1.5remng: di pad dius: 8px;
        border-ra
        white;olor: c
        olor));ndary-csecor(--), vaorcolrimary-var(--p5deg, ient(13gradar-ound: line backgr ary {
        lts-summ .resu


        }ow: hidden;overfl x;
        height: 1p x;
        dth: 1p wi
        0000px;t: -1 lefe;
        utbsolition: a pos {
        er-demoeen-readcr .s
        }
        px;
        fset: 2-oflineout y-color);
        -primar solid var(-ne: 2px outli olor);
        ndary-c var(--secoackground: b
        em:focus {-it .nav
        hover, .nav-item:


        }ase; 0.3s esition: alltran ius: 4px;
        radorder- b;
        on: noneecorati text-d ;
        whiteolor: c lor);
        ry-coprimad: var(--grounck ba rem;
        : 0.5rem 1ding pad
        n: 0.25rem; margi block;
        ine-play: inl dis tem {
        .nav-i


        }1rem 0; margin: m;
        re: 1dding pa8px;
        adius: -r border ecef;
        olid #e9: 2px sderbor
        v-demo {rd-na .keyboa

        }: 500;
        -weight font ter;
        t-align: cen tex
        6px;ius: border-rad em;
        g: 1r paddin
        ample {trast-s .con
        }
        rem 0;
        margin: 1 1rem;
        ap: g));
        00px, 1frt, minmax(2uto-fi: repeat(aumnslate-colrid-temp gd;
        display: gri {
        emo rast-dcontor- .col
        }
        495057;
        olor: # c
        0.85rem;ze: font-si
        op: 0.5rem;rgin-t ma
        t-details { .tes

        }
        r: #6c757d; colo.9rem;
        ont-size: 0 f lt {
        est-resu.t

        } m;
        5rebottom: 0. margin-
        eight: 600;-w font name {
        st- .te
        }
        cd;
        nd: #fff3 backgrou r);
        long-cowarnivar(--left-color: border-
        g {in.warnitem .test-
        }
        d7da;
        : #f8ground back
        lor);--danger-cor(or: vaer-left-col bord
        .fail {emst-it.te

        };
        nd: #d4edda backgrou
        );cess-colorr(--suc-color: vader-left bor
        s {st-item.pas .te

        }
        d #6c757d;x solit: 4plef border- 1rem;
        : padding s: 6px;
        er-radiu bord;
        #f8f9faound:ackgr b
        est-item { .t

        }
        p: 1rem; ga ;
        300px, 1fr))nmax(-fit, mi(autoat repeolumns:plate-c grid-tem rid;
        : glay disp rid {
        .test-g

        }
        x;2pet: ne-offs outli olor);
        --primary-c var(lidne: 2px so outli us {
        .btn:foc
        }

        ,0.2);,0a(0,0px rgbdow: 0 4px 8 box-sha
        ateY(-2px);slnsform: tran tra
        over {tn:h
        .b }
        e;
        0.3s easition: all trans ;
        .5rem 0n: 0 margir;
        rsor: pointe cu 600;
        t:ont-weigh f dius: 6px;
        er-ra bord 5rem;
        1.em 0.75ring: padd
        r: none;borde
        or: white; cololor);
        rimary-cr(--p vad:grounback
        tn { .b
        }

        : 2rem 0;inarg mnter;
        xt-align: ce te rols {
        .test-cont

        }
        #e9ecef;px solid om: 1er-bott bord
        em;om: 0.5rbott padding- 1rem;
        -bottom: margin
        : #2c3e50;lor co h3 {
        tion st-sec .te


        }us: 8px;dider-ra bor ;
        eceflid #e9rder: 1px so boem;
        .5rdding: 1 pa: 2rem;
        argin-bottom m
        n {t-sectioes .t

        }24;
        or: #721c col
        d: #f8d7da;ounkgr bac{
        el-aaa .lev
        }
        56404;
        color: #8 ;
        und: #fff3cdkgro bac
        aa { .level-

        }
        : #155724; color;
        da: #d4ed background a {
        l- .leve

        ;
        }tom: 0.5remin-bot marg 00;
        nt-weight: 6 fo ;
        rem 0.8-size:ont f
        0px; 2-radius:rder bo
        em 0.75rem;ing: 0.25rdd pa -block;
        lay: inline disp{
        -badge .level

        }r;
        centealign: text- us: 6px;
        der-radi bor;
        ng: 1rem paddi te;
        : whibackground {
        .wcag-level
        }
        ;
        p: 1rem ga ));
        00px, 1frmax(2it, minauto-fpeat(-columns: rerid-template g
        rid;y: g displa {
        g-levels .wca


        }ttom: 1rem;argin-bo m
        600;t-weight: fon
        r: #004085; colo
        wcag-title { .
        }
        em;
        m: 2rin-botto marg
        .5rem;: 1dding pas: 8px;
        iuborder-rad aff;
        x solid #b8d border: 1p f4fd;
        ground: #e8 back
        o {ag-inf
        .wc
        };
        emize: 1.1r font-s57d;
        #6c7or: col
        ubtitle {test-s .

        }m;
        0.5rein-bottom: arg m;
        e502c3 color: # 00;
        nt-weight: 7 fo em;
        size: 2rnt- fo t-title {
        .tes
        }
        f;
        olid #e9ece 2px sr-bottom: borde m;
        -bottom: 1reingadd p rem;
        : 2n-bottom margi er;
        n: cent-alig text der {
        .test-hea
        }
        rem;
        padding: 2 ,0,0.1);
        a(0,0px 8px rgbadow: 0 2 box-sh 2px;
        radius: 1 border- e;
        nd: whitkgrou bac
        o; aut 0n: margi 1200px;
        h: widt max- {
        st-container .te
        }

        1.6;t: line-heigh 9fa;
        nd: #f8f backgrou ing: 20px;
        padd
        in: 0;arg m
        ns-serif;boto, saoe UI', Rot, 'SegystemFoninkMacSe-system, Bl -applont-family: f body {

        }
        545;
        #dc3ger-color: --dan07;
        fc1or: #fng-col --warni;
        r: #28a745-colocess-suc -
        d;: #6c757colorcondary-se -- ;
        lor: #007bffimary-co-pr - ot {
        :ro style>
    </title>
    te
    <ting Suiility Tesibess Accers