{% block css  %}
    <style>
        /* Default styles for larger screens */
        .heading-with-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .heading-with-logo img {
            max-width: 100px; /* You can adjust the max width of the logo */
            height: auto;
        }
        /* Media query for small screens */
        @media (max-width: 767px) {
            .heading-with-logo img {
                display: none; /* Hide the image on small screens */
            }
        }
    </style>
{% endblock %}
    {% for job in job_list %}
{#        {% if loop.index % 4 == 0 %}#}
{#            {% include 'adverts/horizontal.html' %}#}
{#        {% else %}#}
            {% if loop.index % 2 == 0 %}
                <div class="card-footer">
            {% else %}
                <div class="card">
            {% endif %}
                <div class="heading-with-logo">
                    <img src="{{ job.internal_image_link }}" alt="{{ job.company_name }} Logo">
                    <h2 class="card-title"><a href="{{ url_for('home.job_slug', slug=job.slug) }}">{{ job.title|title }}</a></h2>
                </div>
                <div class="card-footer">
                    <span class="card-title text-info font-weight-bold">{{ job.company_name }} - {{ job.location }}</span>
                    <ul class="list-inline">
                        <li class="list-inline"><span class="font-weight-bold"> Salary: <span class="text-info">{{ job.salary }}</span></span></li>
                        <li class="list-inline"><span class="font-weight-bold"> Position: <span class="text-info">{{ job.position }}</span></span></li>
                        <li class="list-inline"><span class="font-weight-bold"> Updated: <span class="text-info">{{ job.updated_time }}</span></span></li>
                        <li class="list-inline"><span class="font-weight-bold"> Expires: <span class="text-info">{{ job.expires }}</span></span></li>
{#                        <li class="list-inline"><span class="font-weight-bold"> Reference: <span class="text-info">{{ job.job_ref }}</span></span></li>#}
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('home.job_slug', slug=job.slug) }}" class="btn btn-sm btn-success btn-outline-success"><i class="ti-info"></i> Job Details ...</a>
                </div>
            </div>
{#        {% endif %}#}
    {% endfor %}

