

<div class="card">
        <div class="card">
        <div class="card-header">
            <img src="{{ job.logo_link }}" alt="{{ job.company_name }} Logo">
            <h2><a href="{{ job.job_link }}">{{ job.title }}</a></h2>
        </div>
        <div class="card-footer">
            <span class="card-title text-info font-weight-bold">{{ job.company_name }} - {{ job.location }}</span>
            <ul class="list-inline">
                <li class="list-inline"> Salary: {{ job.salary }}</li>
                <li class="list-inline">Position: {{ job.position }}</li>
                <li class="list-inline">Updated: {{ job.updated_time }}</li>
                <li class="list-inline">Expires: {{ job.expires }}</li>
                <li class="list-inline">Reference: {{ job.job_ref }}</li>

            </ul>
        </div>
        <div class="card-footer">
            <a href="{{ job.job_link }}" class="btn btn-lg btn-info"><i class="ti-info"></i> Apply</a>
        </div>
    </div>
</div>