{% block meta %}
    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ seo.keywords }}">

    <!-- Open Graph -->
    <meta property="og:url" content="{{ url_for('home.job_detail', _external=True, reference=job.job_ref) }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ seo.og_title or seo.title }}" />
    <meta property="og:description" content="{{ seo.og_description or seo.description }}" />
    <meta property="og:image" content="{{ job.logo_link }}">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ seo.twitter_title or seo.title }}">
    <meta name="twitter:description" content="{{ seo.twitter_description or seo.description }}">
    <meta name="twitter:image" content="{{ job.logo_link }}">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "JobPosting",
      "title": "{{ job.title|e }}",
      "description": "{{ job.description|striptags|escape|replace('\n', ' ') }}",
      "identifier": {
        "@type": "PropertyValue",
        "name": "JobFinders",
        "value": "{{ job.job_ref }}"
      },
      "datePosted": "{{ job.posted_date.isoformat() }}",
      "validThrough": "{{ job.date_expires.isoformat() }}",
      "employmentType": "FULL_TIME",
      "hiringOrganization": {
        "@type": "Organization",
        "name": "{{ job.company_name|e }}",
        "sameAs": "{{ job.job_link }}",
        "logo": "{{ job.logo_link }}"
      },
      "jobLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ job.location|e }}",
          "addressCountry": "ZA"
        }
      },
      "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "ZAR",
        "value": {
          "@type": "QuantitativeValue",
          "value": "{{ job.salary|replace('R', '')|replace(',', '')|replace(' ', '') }}",
          "unitText": "MONTH"
        }
      },
      "applicantLocationRequirements": {
        "@type": "Country",
        "name": "South Africa"
      },
      "directApply": true
    }
    </script>
{% endblock %}


{% block css  %}
    <style>
        /* Default styles for larger screens */
        .heading-with-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .heading-with-logo img {
            max-width: 100px; /* You can adjust the max width of the logo */
            height: auto;
        }
        /* Media query for small screens */
        @media (max-width: 767px) {
            .heading-with-logo img {
                {#display: none; /* Hide the image on small screens */#}
                max-width: 80px; /* You can adjust the max width of the logo */
                max-height: 50px

            }
        }

        #facebook-share-button-container {
            border-radius: 10%; /* Make the container rounded */
            display: inline-block;
            overflow: hidden; /* Clip the rounded corners */
        }

        .fb-share-button {
            border-radius: 10%; /* Make the button inside rounded */
        }
        .dotted-list {
            list-style-type: none;
            padding-left: 1em;
        }

        .dotted-list li:before {
            content: "\2022"; /* Unicode character for bullet point */
            color: #999; /* Color of the bullet point */
            font-size: 1.2em; /* Size of the bullet point */
            display: inline-block;
            width: 1em; /* Adjust as needed */
            margin-left: -1em;
        }

    </style>
{% endblock %}

<div class="row">

        <div class="card col-lg-9 col-md-9 col-sm-12">
            <div class="heading-with-logo">
                <img src="{{ job.internal_image_link }}" alt="{{ job.company_name }} Logo">
                <h2 class="card-title"><a href="{{ url_for('home.job_slug', slug=job.slug) }}">{{ job.title }}</a></h2>
            </div>

            <div class="card-footer">
                <span class="card-title text-info font-weight-bold">{{ job.company_name }} - {{ job.location }}</span>
                <ul class="dotted-list">
                    <li>
                        <span class="font-italic"> Salary:</span> <span class="font-weight-bold text-info"> {{ job.salary }}</span>
                    </li>
                    <li>
                        <span class="font-italic">Position: </span> <span class="font-weight-bold text-info"> {{ job.position }}</span>
                    </li>
                    <li>
                        <span class="font-italic"> Updated: </span> <span class="font-weight-bold text-info"> {{ job.updated_time }}</span>
                    </li>
                    <li>
                        <span class="font-italic">Expires:</span>  <span class="font-weight-bold text-info">  {{ job.expires }}</span>
                    </li>
{#                    <li>#}
{#                        <span class="font-italic"> Reference: </span> <span class="font-weight-bold text-info">  {{ job.job_ref }}</span>#}
{#                    </li>#}
                </ul>
            </div>

            <div class="card-footer">
                {% if job and job.desired_skills %}
                    <div class="card-header">
                        <h2 class="card-title font-weight-bold">Required Skills</h2>
                    </div>

                    <ul class="dotted-list">
                        {% for skill in job.desired_skills %}
                            <li><span class="card-title">{{ skill|safe }}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="{{ job.apply_url }}" rel="nofollow noreferrer" target="_blank"  class="btn btn-lg btn-info"><i class="ti-file"></i> Apply</a>
                <hr>
            </div>

            {% include affiliate_template %}

            <div class="card-footer d-flex justify-content-between align-items-center">
                <div id="facebook-share-button-container" >
                    <div class="fb-share-button"
                        data-href="{{ url_for('home.job_slug', _external=True, slug=job.slug) }}"
                        data-layout="button_count"
                    >
                    </div>
                </div>
                <a class="twitter-share-button"
                    href="https://twitter.com/intent/tweet"
                    data-text="{{ job.title }}"
                    data-url="{{ url_for('home.job_slug', _external=True, slug=job.slug) }}"
                    data-hashtags="jobfinder,sajobs"
                    data-size="large"
                >
                    Tweet
                </a>
            </div>
    </div>
    <div class="card col-lg-3 col-md-3 col-sm-12 bg-dark">
{#        {% include 'adverts/linkedin.html' %}#}
        <div class="card-header">
            <h3 class="card-title text-white font-weight-bold"><i class="ti-link"> </i>Jobs By Category </h3>
        </div>
        {% include "job/cards/search_terms.html" %}
        <div class="card">
            {% include "affiliates/amazon/hour_job_search.html" %}
        </div>
    </div>

</div>

