{# Main template: job_statistics.html #}
{% extends "jobseekers/layout/page.html" %}

{% block title %}{{ meta_title }}{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="job_id" content="{{ job.job_id }}">
    <meta name="user_id" content="{{ current_user.uid }}">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jobs/job-statistics.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <!-- Main Content -->
            <div class="col-lg-8 col-md-7">
                <!-- Job Header -->
                {% include "jobs/job_detail/partials/job_header.html" %}
                <!-- Job Description & Skills -->
                {% include "jobs/job_detail/partials/job_details.html" %}
                <!-- Application Statistics -->
                {% include 'jobs/job_detail/partials/application_statistics.html' %}
                <!-- Job Competitiveness -->
                {% include 'jobs/job_detail/partials/competitiveness_metrics.html' %}
                <!-- Application Trends -->
                {% include 'jobs/job_detail/partials/trend_analysis.html' %}
                <!-- Company Statistics -->
                {% include 'jobs/job_detail/partials/company_statistics.html' %}
                {% include 'jobs/job_detail/partials/statistics_disclaimer.html' %}

                <!-- Related Jobs -->
                {% if related_jobs %}
                    {% include 'jobs/job_detail/partials/related_jobs.html' %}
                {% endif %}
                {% include "jobs/job_detail/partials/job_actions.html" %}
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-5">
                {% include 'jobs/job_detail/partials/job_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% include "jobs/job_detail/partials/cover_letter_modal.html" %}
{% include "jobs/job_detail/partials/workflow_progress.html" %}

{% block scripts %}
    {% include 'jobs/job_detail/partials/job_statistics_scripts.html' %}
{% endblock %}