<div class="card bg-dark col-lg-3 col-md-3 col-sm-12">
    <div class="card-header">
        <h3 class="card-title text-white font-weight-bold">
            <i class="ti-text"> </i>
            External Articles
        </h3>
    </div>

    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet">Medium Blog</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/the-power-of-a-portfolio-website-for-job-seekers-enhancing-your-career-opportunities-987f9a71ddf5">The Power of Portfolio Websites</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/discover-your-path-to-success-with-job-finders-ec098130aa67">Discover Your Path to Success with Job Finders</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/discover-your-path-to-success-with-job-finders-ec098130aa67">Discover Your Path to Success with Job Finders</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/navigating-the-world-of-educational-jobs-your-ultimate-resource-on-jobfinders-f2c412794f56">World of Educational Jobs on JobFinders</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/unlocking-your-dream-engineering-job-jobfinders-comprehensive-listings-10b80f911e82"> Dream Engineering Job On Jobfinders </a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/explore-diverse-career-opportunities-on-jobfinders-site-1e7a66462f37">Diverse Career Opportunities on Job Finders</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="https://medium.com/@pocket-money-wallet/jjnavigating-the-modern-job-market-the-necessity-of-job-aggregation-sites-45700c8ba9c5">Navigating the Modern Job Market</a>
            </li>
        </ul>
    </div>
</div>