

<div class="card bg-dark">
    <div class="card-header">
        <h3 class="card-title text-white font-weight-bold">
            <i class="ti-text"> </i>
            Articles
        </h3>
    </div>

    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.blog_home') }}"> Blog</a>
            </li>

            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog',topic='resume-writing-tips') }}"> Resume Writing Tips</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog', topic='job-search-strategies') }}">Job Search</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog', topic='interview-strategies') }}"> Interview Preparations</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog', topic='remote-work-freelancing') }}">  Freelancing</a>
            </li>
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog',topic='workplace-tips') }}">  Workplace Tips </a>
            </li>
            <li class="list-group-item text-dark">
                <a href="{{ url_for('blog.get_blog', topic='job-market-research') }}">Job Market Research</a>
            </li>
            <li class="list-group-item text-dark">
               <a href="{{ url_for('blog.get_blog', topic='education') }}">  Education &amp; Training</a>
            </li>
        </ul>
    </div>
</div>


