

<div class="card-footer">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="{{ url_for("home.about") }}" class="btn-sm btn-outline-success text-info">
            About
        </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="{{ url_for("home.contact") }}" class="btn-sm btn-outline-success text-info">
            Contact
        </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="{{ url_for("home.terms") }}" class="btn-sm btn-outline-success text-info">
            Terms
        </a>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="{{ url_for("home.sister_sites") }}" class="btn-sm btn-outline-success text-info">
            Sister Sites
        </a>
        </div> -->
    </div>

    <div class="row">
    </div>
</div>