    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
{#                    <div class="float-left">#}
{#                        <div class="hamburger sidebar-toggle">#}
{#                            <span class="line"></span>#}
{#                            <span class="line"></span>#}
{#                            <span class="line"></span>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="float-left job-header">
                        <img src="{{ url_for('static', filename="images/jobfinder.jpg") }}" width="45" height="45" alt="Job Finder Logo">
                        <h2 class="inline-title">Job Finder</h2>
                    </div>
                    <div class="float-left">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                {% if user %}
                                    <span class="user-avatar">{% if user.full_name %}{{ user.full_name }}{% else %}{{ user.username }}{% endif %}
                                        <i class="ti-angle-down f-s-10"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

