    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
{#                    <div class="float-left">#}
{#                        <div class="hamburger sidebar-toggle">#}
{#                            <span class="line"></span>#}
{#                            <span class="line"></span>#}
{#                            <span class="line"></span>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="float-left job-header">
                        <a href="{{ url_for('home.get_home') }}" class="float-left job-header">
                        <img src="{{ url_for('static', filename="images/jobfinder.jpg") }}" width="45" height="45" alt="Job Finder Logo">
                        <h2 class="inline-title font-weight-bold text-info">Job Finders</h2>
                        </a>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                        <div>
                            <a href="{{ url_for("home.contact") }}" class="btn-sm font-weight-bold btn-outline-success text-info">Contact</a> |
                            <a href="{{ url_for("home.about") }}" class="btn-sm font-weight-bold btn-outline-success text-info">About</a>
                        </div>

                            <div class="header-icon" data-toggle="dropdown">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

