    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                <div class="logo">
                    <a href="{{ url_for('home.get_home') }}">
                        <img src="{{ url_for('static', filename="images/jobfinder.jpg") }}" width="45" height="45" alt="Job Finder Logo">
{#                        <img src="{{ url_for('static', filename='images/custom/logo.png') }}" alt="logo" width="45" height="45">#}
                        <span> Job Finders</span>
                    </a>
                </div>
                <li class="label">Main</li>
                <li><a href="{{ url_for('home.get_home') }}"><i class="ti-home"></i> Home</a></li>
                <li>
                    <a class="sidebar-sub-toggle">
                     <i class="ti-folder"></i> Jobs <span class="sidebar-collapse-icon ti-angle-down"></span>
                    </a>
                    <ul>
                    {% for term in search_terms %}
                        <li>
                        <a href="{{ url_for('home.job_search', search_term=term) }}">
                            <i class="ti-briefcase"> </i>
                            {{ term|title }}
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                    <li> <a href="{{ url_for("home.linkedin_learning") }}">
                        <i class="ti-linkedin"> </i>
                        LinkedIn Learning</a>
                    </li>

                    <li> <a href="{{ url_for("home.contact") }}">
                        <i class="ti-email"> </i>
                        Contact</a>
                    </li>
                    <li> <a href="{{ url_for("home.about") }}">
                        <i class="ti-info"> </i>
                        About</a>
                    </li>
                    <li>
                        <a href="{{ url_for("home.sister_sites") }}">
                            <i class="ti-link"> </i>
                            Sister Sites
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</div>

<!-- /# sidebar -->
